@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');

* {
    box-sizing: border-box;
}
body {
    display: block;
    overflow: hidden;
    background-color: rgb(241, 241, 241);
    color: rgb(55, 55, 55);
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    transition: 0.2s;
}

button:hover {
    color: white;
    background-color: #D31D67;
    border-radius: 8px;
}

button:active {
    color:black;
    background:none;
}

.top button{
    font-weight: 700;
}

.right {
    font-size: 1.5rem;
    font-weight: 700;
    color: #D31D67;
}

.screen {
    text-align: right;
    padding-right: 1em;
    margin-top: 0.6em;
    margin-bottom: -1.8rem;
}

.btn-section {
    margin-top: 30px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.btn-container{
    flex-basis: 100%;
    display: flex;
    height: 20%;
}

.btn-container > * {
    flex-basis: 100%;
}

.calc-container {
    width: 336px;
    min-height: 500px;
    background-image: linear-gradient(45deg, #F2E2C9, #D8E1F1);
    padding: 0.3rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0 25px 30px 5px rgb(0, 0, 0, 0.3);
}

h1 {
    font-size: 3rem;
    font-weight: 300;
}

h3 {
    font-style: italic;
    font-weight: 100;
    font-size: 1.3rem;
}

#footer {
    font-weight: 300;
    font-size: 0.6rem;
    text-align: center;
    margin-top: -50px;
    color: rgb(76, 76, 76);
}

a {
    color: inherit;
    text-decoration: none;
}
